$text-color: #222222;

$background-color: #f9f9f9;
$background-darker-color: #ebedec;
$grey: #e2e3e5;

$strategy-red: #f15230;
$activation-green: #66be54;
$technology-blue: #06abd8;
$training-charcoal: #506674;
$training-charcoal-light: lighten(#506674, 30%); // Results in "#a0b2bd"
$support-black: #0c1b2a;

$twitter-blue: #55acee;
$facebook-blue: #3b5998;
$youtube-red: #c4302b;
$googleplus-red: #dd4b39;

$convo-header-color: #43768f;
$convo-subheader-color: #aec5ce;
$priority-color: #b3464a;
$assigned-color: #158255;
